#feature {
    img {
        object-fit: cover;
        height: 100%;
    }
    
    .card {
        position: relative;
        border-radius: 4px;
        overflow: hidden;

        &::before {
            content: "";
            background: linear-gradient(
                180deg,
                transparent 0%,
                #020617 100%
            );
            position: absolute;
            inset: 0;
            top: 50%
        }

        figcaption {
            position: absolute;
            bottom: 0;
            padding: 24px;

            &:has(.text-lg) {
                padding: 12px;
            }

            h2 {
                margin-top: 8px;
            }
        }

    }
}